---
import Layout from "../_layout.astro";
import SourceForm from "../_blocks/SourceForm.vue";
---

<Layout active="./video">
    <div class="mb-4 text-right">
        <span class="text-2xl font-bold">视频识别</span>
    </div>
    <SourceForm source="video" client:load />
</Layout>
